li {
    line-height: 1.5em;
}
.marginTop {
    margin-top: 70px;
}
.toolbarTitleLink {
    color: var(--mdc-theme-text-primary-on-primary, white);
    text-decoration: none;
}
.scale {
    max-width: 100%;
    object-fit: scale-down;
}
